$primary-color: #061f2b;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: $primary-color;
}
a {
	text-decoration: none;
}
.parallax {
	background-image: url("/Users/Heath/Documents/Apps/FullStackNanodegree/Neighborhood/NeighborhoodMap/img/shinjuku.jpg");
	height: 310px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
main {
	visibility: visible;
}
.centered {
	text-align: center;
}
.max-height {
	height: 100%;
}
.container-border {
	margin: 0;
}
.container-padded {
	margin-right: 5px;
	margin-left: 5px;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

.row {
	width: 100%;
}
.padded-block {
	padding-top: 15px;
	padding-bottom: 15px;
}


#main-container {
	border-top: 5px solid $primary-color;
	border-right: 5px solid $primary-color;
	border-left: 5px solid $primary-color;
}
#main-banner {
}
#welcome {
	font-family: 'Roboto Slab', serif;
    font-size: 28px;
    background-color: rgb(6, 31, 43);
    box-shadow: #fbfbfb 0px 0px 2px 5px;
    text-shadow: #040404 -2px 0px 1px;
    color: #f6f4f4;
    padding: 5px;
}       	
#explore-btn {
	color: white;
}

#select-buttons {
	width: 100%;
	button {
		display: inline-block;
		width: 32%;
		background-color: #a3ccff;
		border: 1px solid orange;
		border-radius: 3px;
	}
}


#list-title {
	background-color: black;
	h4 {
		color: white;
    	background-color: black;
    	border: 10px solid black;
	}
}
#nav-list {
	list-style: none;
	li {
		width: 80px;
		color: white;
		padding: 5px;
	}
}
#map {
	max-width: 100%;
	height: 300px;
	background-color: blue;
}