$primary-color: #061f2b;
$heading-font: 'Oswald', sans-serif;
$body-font: 'Merriweather', serif;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: $primary-color;
}
a {
	text-decoration: none;
}
i {
	margin-right: 5px;
}
.parallax {
	background-image: url("../img/shinjuku.jpg");
	height: 310px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -130px;
	background-attachment: fixed;
}
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
main {
	visibility: visible;
}
footer {
	div {
		width: 100%;
		height: 30px;
		background-color: black;
	}
}
.centered {
	text-align: center;
}
.max-height {
	height: 100%;
}
.container-border {
	margin: 0;
}
.container-padded {
	margin-right: 5px;
	margin-left: 5px;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.flex {
	display: flex;
}

.row {
	width: 100%;
}
.col-3 {
	width: 25%;
}
.col-6 {
	width: 50%;
}
.col-9 {
	width: 75%;
}
.padded-block {
	padding-top: 15px;
	padding-bottom: 15px;
}


#main-container {
	border-top: 5px solid $primary-color;
	border-right: 5px solid $primary-color;
	border-left: 5px solid $primary-color;
}
#main-banner {
}
#welcome {
	font-family: 'Roboto Slab', serif;
    font-size: 28px;
    background-color: rgb(6, 31, 43);
    box-shadow: #fbfbfb 0px 0px 2px 5px;
    text-shadow: #040404 -2px 0px 1px;
    color: #f6f4f4;
    padding: 5px;
}       	
#explore-btn {
	color: white;
}

#map {
	box-shadow: black 2px 4px 14px 2px;
}
#map-container{
	
}
.map-fixed {
	position: fixed;
	top: 0;
}

#select-buttons {
	width: 100%;
	button {
		display: inline-block;
		width: 32%;
		background-color: #a3ccff;
		border: 1px solid orange;
		border-radius: 3px;
	}
}

#srch-container {
	height: 363px;
	background: rgb(22, 107, 128);
    padding-right: 10px;
    padding-left: 10px;
}
#list-title {
	color: white;
	margin-top: 15px;
	padding-bottom: 5px;
	h2 {
		padding-top: 5px;
		font-size: 34px;
		font-family: $heading-font;
	}
}
#nav-list {
	padding-bottom: 10px;
	li {
    	color: #cce3f9;
    	cursor: pointer;
    	font-size: 14px;
    	font-family: $body-font;
	}
	li:hover {
		color: grey;
	}
}
#map {
	color: red;
	font-size: 20px;
	max-width: 100%;
	height: 300px;
	background-color: white;
}

#filter-list {
	height: 225px;
}

#list-container {
	overflow-y: overlay;
    max-height: 240px;
    margin-top: -10px;
}

#dropDown {
	background-size: cover;
    background-repeat: no-repeat;
	background-image: url("http://img.timeinc.net/time/photoessays/2009/tokyo/tokyo_shinjuku.jpg");
    min-height: 200px;
    width: 227px;
    margin-top: -18px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: black 1px -1px 11px 2px;
}

#dropActivate {
	position: relative;
	margin: -1px;
	background: $primary-color;
    padding: 5px 0 2px 4px;
    border-bottom: 2px solid #061f2b;
    border-top-right-radius: 8px;
    border-top-left-radius: 9px;
    color: white;
    font-family: $body-font;
}

#dropDownList {
	display: none;
	position: absolute;
	margin-top: -1px;
	width: 144px;
	background-color: #cce3f9;
	min-height: 188px;
	border-top: 3px solid black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: $primary-color 3px 2px 5px 2px;
	a {
		text-align: left;
		display: flex;
		text-decoration: none;
		padding: 1px 0px 4px 6px;
		color: black;
	}
	a:first-of-type {
		padding-top: 5px;
	}
	a:hover {
		color: grey;
	}
	span {
		position: absolute;
		left: 30px;
	}
}

#dropDownList:hover {
	display: block;
}

.review {
    padding: 0 15px 5px 15px;
    font-family: $body-font;
}

#inner-rv {
	background-color: rgb(235, 251, 255);
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 3px;
	div {
		padding: 10px;
		h4 {
			display: none;
			font-family: $heading-font;
			font-size: 19px;
		}
	}
	div:nth-child(2) {
		margin-top: -35px;
	}
}

#review-title {
    margin-left: 10px;
    margin-right: 10px;
	color: white;
	border-bottom: 3px solid white;
	font-family: $heading-font;
}
#yelp-reviews {
	a:hover {
		text-decoration: none;
		color: grey;
	}
	p {
		color: $primary-color;
	}
	p:hover {
		color: grey;
	}
}

#trip-expert-logo {
	display: none;
	width: 120px;
	margin-top: 20px;
}

#yelp-logo {
	display: none;
	width: 120px;
}

.r-link {
	display: block;
	margin-bottom: 5px;
	color: #166b80;
	text-decoration: underline;
	padding: 0 15px 0px 15px;
}

.r-link:hover {
	color: grey;
}

/* Flickr Images */
#flickr {
	margin-right: 5px;
	margin-left: 5px;
	img {
		width: 50%;
		padding: 5px;
		border: 2px solid white;
	}
}
#photo-title {
	display: none;
	color: white;
    margin-left: 13px;
    padding-top: 20px;
    font-family: $heading-font;
}

/* Info Window */
.gm-style-iw {
	width: 320px !important;
	div {
		div {
			overflow: hidden;
		}
	}
}
#iw-text, #iw-head {
	color: $primary-color;
}
#iw-text {
	padding-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
}
#iw-body {
	margin: -10px;
}
#iw-pic {
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
	img {
		max-height: 170px;
		max-width: 295px;
	}
}


/* Break Points */

@media screen and (max-width: 465px) {
	#dropActivate {
		span {
			font-size: 13px;
		}
	}
	#nav-list {
		margin-top: 5px;
		li {
			width: 80%;
			padding: 0 3px 8px 4px;
			font-size: 11px;
		}
	}
	.review-body {
		font-size: 13px;
	}
	.r-link {
		font-size: 12px;
	}
}

@media screen and (min-width: 466px) {
	#nav-list {
		li {
			width: 100%;
			margin-left: -13px;
    		padding: 0 5px 10px 0px;
    		font-size: 12px;
		}
	}
}

@media screen and (min-width: 710px) {
	#map-container {
		width: 69%;
    	margin-left: 31%;
	}
	#map {
		height: 370px;
	}
	#info-container {
		display: flex;
	}
	#srch-container {
		z-index: 100;
		height: 774px;
		margin-top: -371px;
		width: 33%;
		border-bottom: 5px solid #a1a2a2;
		border-right: 3px solid $primary-color;
		border-radius: 3px;
	}
	#list-title {
		margin-top: -25px;
		h2 {
			font-size: 40px;
		}
	}
	#nav-list {
		margin-top: 5px;
		li {
			font-size: 13px;
		}
	}
	#dropDown {
		width: 375px;
	}
	#dropDownList {
		min-height: 281px;
    	width: 180px;
		span, i, a {
			font-size: 19px;
		}
	}
	#filter-list {
		height: 290px;
	}
	#rv-container {
		height: 398px;
		width: 67%;
		padding-left: 5px;
		overflow-y: overlay;
		overflow-x: hidden;
	}
	#flickr {
		color: white;
		font-size: 16px;
		img {
			width: 33%;
		}
	}
}